@media (min-width: 1024px) {
  .intro {
    width: 400px;
    margin-left: 19.5%;
  }

  .intro h1 {
    font-family: $font;
    font-weight: bold;
    font-size: 46px;
    line-height: 64px;
    color: white;
    margin: 0;
    margin-top: 30px;
  }

  .intro p {
    font-family: $font;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    color: rgba($color: #fff, $alpha: 0.8);
    margin: 0;
    margin-top: 24px;
  }
}

@media (max-width: 1023px) {
  .intro {
    margin-top: 84px;
  }

  .intro__logo {
    display: none;
  }

  .intro h1 {
    font-family: $font;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    color: white;
    margin: 0;
    margin-top: 30px;
    text-align: center;
  }

  .intro p {
    font-family: $font;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: rgba($color: #fff, $alpha: 0.8);
    margin: 0;
    margin-top: 20px;
    text-align: center;
    width: 435px;
  }
}

@media (max-width: 767px) {
  .intro {
    margin-top: 70px;
  }

  .intro__logo {
    display: none;
  }

  .intro h1 {
    font-family: $font;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    color: white;
    margin: 0;
    margin-top: 30px;
    text-align: center;
    width: 288px;
  }

  .intro p {
    font-family: $font;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: rgba($color: #fff, $alpha: 0.8);
    margin: 0;
    margin-top: 20px;
    text-align: center;
    width: 288px;
  }
}

